<section>
    <a href="/turma/new" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
        </svg>
        Adicionar Turma
    </a>
    <hr />
    <h1>Turmas Cadastrados Professor {{this.dataValues.name}}</h1>
    <div class="container">
        {{#each turmas}}
        <div class="item">
            <h4>{{this.dataValues.name}}</h4> <!-- utiliza o this para poder chama tudo que vai o nome-->
            <div class="actions">
                <a href="/turmas/{{this.dataValues.id}}" class="details-btn">Alunos</a>
                <a href="/turmas/edit/{{this.dataValues.id}}" class="edit-btn">Editar</a>

                <form action="/turmas/remove/{{this.dataValues.id}}" method="POST">
                    <input type="submit" value="Excluir" class="delete-btn">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</section>